

#calc-contain{

    position: relative;

    width: 300px;

    border: 2px solid rgb(49, 41, 41);

    border-radius: 12px;

    margin: 0px auto;

    padding: 20px 20px 100px 20px;

    background-color: rgb(38, 39, 38);
     

  }

  #agh{

    position: relative;

    float: right;

    margin-top: 15px;

  }

  #agh p{

    font-size: 20px;

    font-weight: 900;

  }

  input[type=button] {

    background: rgb(158, 6, 6);

    width: 20%;

    font-size: 20px;

    font-weight: 900;

    border-radius: 7px;

    margin-left: 13px;

    margin-top: 10px;

  }

  input[type=button]:active {

    background-color: #090f09;

    box-shadow: 0 5px rgb(17, 17, 17);

    transform: translateY(4px);

  }

  input[type=button]:hover {

    background-color: hsl(0, 84%, 48%);

    color: rgb(48, 18, 18);

  }

  



  input[type = text] {

    position: relative;

    display: block;

    width: 90%;

    margin: 5px auto;

    font-size: 20px;

    padding: 10px;

    box-shadow: 4px 0px 12px black inset;

  }
